#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.pac-container {
  z-index: 2000 !important;
}
