PORT=5000
MONGO_URI=dburl
JWT_SECRET=bhqgd237gvchvc23y
JWT_EXPIRES_IN=7d
GROQ_API_KEY=xyz
BASE_URL=http://localhost:5000

# Embedding service (Ollama local / hosted)
EMBEDDING_API_URL=http://localhost:11434/api/embeddings
EMBEDDING_MODEL=nomic-embed-text

# Qdrant vector DB
QDRANT_URL=http://localhost:6333
